.main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
  grid-gap: 50px;
  overflow: auto;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  grid-template-columns: 1fr 1fr;
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.square {
  height: 100px;
  width: 100px;
}

.blue {
  background-color: blue;
}